.card {
  background: var(--bg-secondary);
  border: 1px solid var(--border-color);
  border-radius: 16px;
  padding: 30px;
  width: 200px;
  transition: 0.2s;
  margin-top: 30px;
}
.card:hover {
  transform: translateY(-3px);
}
.titulo {
  color: var(--text-secondary);
  font-size: 14px;
}

.valor {
  font-size: 22px;
  font-weight: 600;
}