.divLoginTudo{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-secondary);
    padding: 30px;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    width: 25%;
    height: 45%;
}