.card {
  background: var(--bg-secondary);
  border: 1px solid var(--border-color);
  border-radius: 16px;
  padding: 40px;
  width: 250px;
  transition: 0.2s;
  margin-top: 30px;
}
.card:hover {
  transform: translateY(-3px);
}
.titulo {
  color: var(--text-secondary);
  font-size: 18px;
}

.valor {
  font-size: 24px;
  font-weight: 600;
}